<!DOCTYPE html>
<html>
<head>
	<title>Admin page</title>
</head>
<body>
	<h1>Welcome to Admin page</h1>
	<a href="admin/addmedicines">Add Product</a> | 
	<a href="admin/deletemedicines">Delete Product</a> | 
	<a href="admin/deletecustomer">Delete Customer</a> | 
	<a href="admin/logout">logout</a>

	
	 <table>
		<tr>
			<td>USERNAME :</td>
			<td><%= user[0].admin_name %></td>
		</tr>
		<tr>
			<td>PASSWORD :</td>
			<td><%= user[0].admin_password %></td>
        </tr>

		 
	</table>
</body>
</html>