<!DOCTYPE html>
<html>
<head>
	<title>Admin page</title>
</head>
<body>
	<h1>Welcome to Admin page</h1>
	<a href="/admin">Profile</a> | 
	<a href="/admin/add_med">Add Medicine</a> |
	<a href="/admin/medicine_list">Medicine list</a> | 
	<a href="/admin/customer_list">Customer list</a> | 
	<a href="/logout">logout</a>

	
	 <table>
		<tr>
			<td>Username :</td>
			<td><%= user[0].admin_name %></td>
		</tr>
		<tr>
			<td>Email:</td>
			<td><%= user[0].admin_email %></td>
        </tr>

		 
	</table>
</body>
</html>