<!DOCTYPE html>
<html>
<head>
	<title>login page</title>
</head>
<body>
	<h1>Welcome home!</h1>

	<a href="/admin/Register">Register as Admin</a> |
	<a href="/customer/Register">Register as Customer</a> |
	<a href="/admin/login">Login as Admin</a> |
	<a href="/customer/login">Login as Customer</a> |


</body>
</html>