<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
</head>
<body>
	<h1>Profile</h1>	
	<a href="/customer">Profile</a> | 
	<a href="customer/medicine_list">View Medicines</a> | 
	<a href="/logout">Logout</a>

	
	 <table>
		<tr>
			<td>USERNAME :</td>
			<td><%= user[0].cust_name %></td>
		</tr>
		<tr>
			<td>PASSWORD :</td>
			<td><%= user[0].password %></td>
        </tr>

		 
	</table>
</body>
</html>