<title>Medicine List</title>

<h1>Medicine List</h1>

    <a href="/customer">Profile</a> | 
	<a href="#">View Medicines</a> | 
	<a href="/logout">Logout</a>

<table border="1">
    <tr>
        <td>MEDICINE NAME</td>
        <td>CHEMICAL NAME</td>
        <td>QUANTITY</td>
        <td>ACTION</td>
    </tr>

<% for(var i=0; i< user.length; i++){ %>
    <tr>
        <td><%= user[i].med_name %></td>
        <td><%= user[i].chemical_name %></td>
        <td><%= user[i].quantity %></td>
        <td>
            <a href="/customer/medicine_details/<%= user[i].med_id %>"> Details </a>
            
        </td>
    </tr>

<% } %>
</table>