<title>View Cart</title>
<h1>View Cart</h1>

<a href="/customer">Profile</a> | 
<a href="customer/medicine_list">View Medicines</a> | 
<a href="/logout">Logout</a>

<table border="1">
    <tr>
        <td>MEDICINE id</td>
        <td>Quantity</td>
    </tr>

<% for(var i=0; i< user.length; i++){ %>
    <tr>
        <td><%= user[i].med_id %></td>
        <td><%= user[i].quantity %></td>
    </tr>

<% } %>

    
</table>

<a href="/customer/check_out">Check Out</a>